body{
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    display:flex;
}
.header{
    display:flex;
    justify-content: space-between;
    flex: auto;
    padding: 16px;
    background-color: #1f2937;
    padding-left: 300px;
    padding-right: 300px;
}
ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px
}